flake8
black
pytest
ipykernel
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langgraph
pinecone[asyncio,grpc]
beautifulsoup4
tiktoken
pypdf
langchain-pinecone 
ipywidgets
psycopg-pool
psycopg
langgraph-checkpoint-postgres
psycopg2
bcrypt
streamlit
# langchainhub
# pinecone-notebooks